<p style="color: green"><%= notice %></p>

<% content_for :title, "Coins" %>

<strong>Data:</strong> <%= format_date_to_braziliam_format(Date.today)%>

<h1>Coins</h1>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p>
      <%= link_to "Show this coin", coin %>
    </p>
  <% end %>
</div>

<%= link_to "New coin", new_coin_path %>
